body {
    font-family : 'Courier New';
}

table {
    width : 100%;
}

/* td {
    border: 2px solid #000000;
} */

td {
    width: 70px;
}

.Power {
    background-color: pink;
}

.Advancement-Odd {
    background-color: antiquewhite;
}

.Advancement-Even {
    background-color: khaki;
}

.Magic-Classification-Category-Heading {
    background-color: beige;
}

.Magic-Classification-Expression-Heading {
    background-color: aquamarine;
}

.Magic-Classification-Category {
    background-color: rgba(245, 245, 220, 0.600);
}

.Magic-Classification-Expression {
    background-color: rgba(127, 255, 212, 0.600);
}

.Magic-Progression-Stage-Head {
    background-color: blanchedalmond;
    width: 30%;
    height: 40px;
}
.Magic-Progression-Explanation-Head {
    background-color: cornflowerblue;
    width: 70%;
    height: 40px;
}

.Magic-Progression-Stage {
    background-color: rgba(255, 235, 205, 0.600);
    width: 30%;
    height: 25px;
}
.Magic-Progression-Explanation {
    background-color: rgba(100, 148, 237, 0.600);
    width: 70%;
    height: 25px;
    padding-left: 5px;
}


.magicians-aim {
    border-width:3px;
    border-style:solid;
    border-color:#FF0000;
    padding: 10px;

    background-color: rgba(255, 0, 0, 0.25);
}